################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/GestaoProdutos/appsettings.json
/GestaoProdutos/appsettings.Development.json
